

.wp-block-button__link{
    color:#fff;
    display:inline-block;
    text-align:center;
    text-decoration:none;
    box-sizing:border-box;
    width:100%;
    line-height:1;
    font-weight:700;
    border-radius:5px;
    padding:16px 24px
}

.wp-block-button{
    margin-right:0;
    margin-left:0;
    margin-bottom:.5em;
}

.wp-block-button__width-25{
    width:calc(25% - .375em)
}

.wp-block-button__width-75{
    width:calc(75% - .125em)
}

.wp-block-buttons{
    display:flex;
    column-gap:.5em;
    justify-content:center
}




.wp-block-cover{
    position:relative;
    display:flex;
    justify-content:center;
    padding:1em;
    box-sizing:border-box
}

.has-background-dim:before{
    content:"";
    background-color:inherit
}

.has-background-dim:not(.has-background-gradient):before{
    position:absolute;
    top:0;left:0;bottom:0;right:0;
    z-index:1;
    opacity:.4
}


img.wp-block-cover__image-background{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.amber-to-orange-gradient{
    background:linear-gradient(135deg,#fcb900,#ff6900)
}

.luminous-dusk-gradient{
    background:linear-gradient(135deg,#ffcb70,#c751c0 50%,#4158d0)
}

.electric-grass-gradient{
    background:linear-gradient(135deg,#caf880,#71ce7e)
}

.has-text-align-center{
    text-align:center
}

.wp-block-jetpack-layout-grid{
    grid-template-columns:repeat(12,1fr)
}


html{
    font-family:var(--font-base,"PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif);
    line-height:1.6;
    font-size:20px;
}

.entry-content>*:first-child{
    margin-top:0
}
.entry-content>*:last-child{
    margin-bottom:0
}

.wp-block-button__link:before,.wp-block-button__link:after{
    content:'';
    display:block;
    height:0;
    width:0;
}

.wp-block-button__link:before{
    margin-bottom:-.12em
}

.wp-block-button__link:after{
    margin-top:-.11em
}

.has-background-dim{
    color:#fff;
    background-color:#1279be
}

.wp-block-cover__inner-container{
    z-index:1;
    margin-top:32px;
    margin-bottom:32px;
    color:currentColor;
    width:calc(100% - 64px)
}

.wp-block-cover__inner-container>*{
    margin-top:32px;
    margin-bottom:32px
}

.wp-block-cover__inner-container>*:first-child{
    margin-top:0
}

.wp-block-cover__inner-container>*:last-child{
    margin-bottom:0
}

h1,.h1{
    font-size:2.31306rem;
    letter-spacing:normal;
    line-height:1.125
}

img{
    vertical-align:middle
}

.has-huge-font-size{
    font-size:1.52087rem;
}

.alignwide{
    width:calc(calc(782px - 32px) + 256px);
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}

.entry-content>.alignfull{
    margin:inherit;
    width:inherit;
    max-width:inherit
}