p.zhu {
	line-height:0px;
	text-align:center;
	font-family:"黑体";
	font-size:45px;
}
p.Secondary_label {
	line-height:25px;
	text-align:center;
	font-family:"黑体";
	font-size:25px;
}
html,body{
	width:100%;
	height:100%;
	background-color:#DEF9FF;/**/
}
body,ul{
	margin: 0;/*清空外边距 上 右 下 左*/
	padding: 0;/*清空内边距*/
}
div.label{
	padding: 15px;
	margin:20px auto;
	width:75%;
	height:128px;
	background-color:#F1F1F1;
	border:1px solid;
	border-radius:10%;
}
div.photos{
	text-align:center;
	margin:20px auto;
}
img.imgphoto{
	width: 75%;
	margin:10px auto;
}